#chat-screen {
    background-color: #ABC1D1;
    height: 700vh;
}

.chat-header {
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    padding-right: 35px;
}

#chat-screen .status-bar {
    padding-bottom: 40px;
}

#chat-screen .chat-header,
#chat-screen .status-bar {
    top: 0;
    background-color: #ABC1D1;
}

.main-chat {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 1s ease-in-out;
}

.chat__timestamp {
    color: white; 
    background-color: #92a4b2;
    padding: 8px 15px;
    border-radius: 15px;
    font-size: 15px;
    margin-bottom: 25px;
}

.message-row {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 25px;
}

.message-row img {
    width: 70px;
    height: 70px;
    border-radius: 40%;
    margin-right: 15px;
}

.message__author {
    opacity: 0.8;
    font-size: 15px;
    display: block;
    margin-bottom: 10px;
}

.message__info {
    display: flex;
    align-items: flex-end;
}

.message__bubble {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    border-top-left-radius: 0px;
    margin-right: 10px;
}

.message__time {
    font-size: 13px;
    opacity: 0.7;
}

.message-row--own {
    justify-content: flex-end;
}

.message-row--own .message__bubble {
    background-color: yellow;
    border-radius: 10px;
    border-top-right-radius: 0px;
    margin-right: 0px;
    margin-left: 10px;
}

.message-row--own .message__info {
    flex-direction: row-reverse;
}

.reply {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
    box-sizing: border-box;
}

.reply .reply__column:first-child {
    width: 10%;
}

.reply .reply__column:last-child {
    width: 90%;
    position: relative;
}

.reply i {
    opacity: 0.5;
}

.reply input {
    padding: 10px;
    width: 100%;
    border: var(--main-border);
    border-radius: 20px;
}

.reply__column:last-child > i,
.reply__column:last-child button {
    position: absolute;
    right: -4px;
    top: 2px;
}

.reply__column:last-child > i {
    right: 35px;
    top: 10px;
}

.reply__column button {
    background-color: yellow;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.reply__column button i {
    opacity: 1;
}

.reply__column button:focus,
.reply__column button:active {
    outline: none;
}

@keyframes fadeIn {
    from {
        transform: translateX(30px);
    }
    to {
        transfrom: none;
        opacity: 1;
    }
}