.recommended-friends {
    margin: 25px 0px;
    padding: 25px 0px;
    border-top: var(--main-border);
    border-bottom: var(--main-border);
}

.recommended-friends__title {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.4);
}

.recommended-friends span {
    display: block;
    margin: 120px 0px;
    text-align: center;
    color: rgba(0, 0, 0, 0.4);
    font-size: 20px;
}

.open-chat__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(0, 0, 0, 0.4);
    opacity: 0.8;
    margin-bottom: 10px;
}

.open-chat__header span {
    opacity: 0.6;
}

.open-post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
}

.open-post:nth-child(2) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.open-post__title {
    font-weight: 600;
    margin-bottom: 10px;
}

.open-post__hashtags {
    text-transform: uppercase;
    opacity: 0.4;
}

.open-post_members {
    display: flex;
    align-items: center;
}

.open-post_members img {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-top: 10px;
    margin-right: 5px;
    position: relative;
    bottom:5px;
}

.open-post__member-count {
    opacity: 0.5;   
    font-size: 12px;
}

.open-post_members .divider {
    width: 1px;
    height: 15px;
    margin: 0px 5px;
    background-color: rgba(0, 0, 0, 0.2);
}

.open-post__member-status {
    color: #ffb0e0;
}

.open-post__photo {
    position: relative;
}

.open-post__photo img {
    width: 110px;
    height: 110px;
    border-radius: 10%;
}

.open-post__heart-count {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    padding: 5px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 14px;
}

@keyframes heartBeat {
    0% {
        color: white;       
        transform: none;
    }
    50% {
        color: tomato;
        transform: scale(1.5)
    }
    100% {
        color: white;
        transform: none;
    }
}

.open-post__heart-count i:hover {
    will-change: transform;
    animation: heartBeat 1s linear infinite;
}

.open-post__heart-count span {
    margin-left: 3px;
}

.badge-position {
    position: absolute;
    right: 30px;
}

