#friends-display-link {
    display: block;
    text-align: center;
    background-color: #FAFAFA;
    padding: 15px 0px;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
    margin-top: -15px;
}

#friends-display-link i {
    color: rgba(0, 0, 0, 0.3);
    margin: 0px 5px;
}

.friends-screen {
    padding: 0px var(--horizontal-space);
}

.friends-screen__channel {
    margin-top: 30px;
    border-top: var(--main-border);
}

.friends-screen__channel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
    color:rgba(0, 0, 0, 0.5);
}

.splash-screen {
    background-color: yellow;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: hideSplashScreen 0.4s ease-in-out forwards;
    animation-delay: 2s;
}

.splash-screen i {
    font-size: 120px;
}

@keyframes hideSplashScreen {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}