#login-form {
    display: flex;
    flex-direction: column;
    margin: 0px 30px;
}

#login-form input {
    border: none;
    padding: 15px 0px;
    font-size: 15px;
    margin-bottom: 25px;
}

#login-form input:not([type="submit"]) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

#login-form input::placeholder {
    color: rgba(0, 0, 0, 0.4);
}

#login-form input:focus {
    border-color: rgba(0, 0, 0, 0.4);
}

#login-form input[type="submit"] {
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    padding: 20px 0px;
    border-radius: 5px;
}

#login-form a {
    text-align: center;
    text-decoration: none;
    color: inherit;
    font-size: 15px;
}