.nav {
    background-color: #F9F9FA;
    padding: 20px 50px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}

.nav__list {
    display: flex;
    justify-content: space-between;
}

.nav__link {
    position: relative;
}

.nav_notification-chat {
    position: absolute;
    bottom: 15px;
    left: 20px;
    animation: notificationAnimation 3s ease-in-out infinite;
}

.nav_notification-set {
    position: absolute;
    bottom: 25px;
    left: 30px;
}

@keyframes notificationAnimation {
    0% {
        transform: none;
    }   
    50% {
        transform: translateY(-5px) rotateY(360deg);
    }
    100% {
        transform: none;
    }
}

.nav__btn {
    transform: translateY(70px);
    animation: appearBtnAnimation 0.5s ease-in-out forwards;
}

@keyframes appearBtnAnimation {
    from {
        opacity: 0;
    }
    to {
        transform: none;
        opacity: 1;
    }
}

.nav__btn:nth-child(2) {
    animation-delay: 0.2s;
}
.nav__btn:nth-child(3) {
    animation-delay: 0.4s;
}
.nav__btn:last-child {
    animation-delay: 0.6s;
}