.user-component {
    justify-content: space-between;
}

.user-component,
.user-component__column:first-child {
    display: flex;
    align-items: center;
}

.user-component__column:last-child {
    color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.user-component__avatar {
    width: 110px;
    height: 110px;
    border-radius: 30%;
    margin-right: 30px;
}

.user-component__avatar--xl {
    width: 120px;
    height: 120px;
}

.user-component__avatar--sm {
    width: 100px;
    height: 100px;
    margin-right: 25px;
}

.user-component__title {
    font-weight: 600;
    font-size: 30px;
}

.user-component__title--not-bold {
    font-weight: 400;
}

.user-component__subtitle {
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.5);
}

.user-component__time {
    display: block;
    margin-bottom: 10px;
}

.user-component__subtitle-icon {
    color: red;
}